@(id: Long, computerForm: Form[OurProduct], companies : Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Product Detail</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
            @inputText(computerForm("name"), '_label -> "Product name", '_help -> "")
            @inputDate(computerForm("introduced"), '_label -> "Description", '_help -> "")
        
        </fieldset>
        
        <div class="actions">
            <a href="@routes.Application.list()" class="btn">Back</a> 
        </div>
        
    }
}
